// Colours
$black: #000000;
$white: #ffffff;
$pink: #f4a3ff;

// Font Sizes 
$xxlarge: 5rem;
$xlarge: 3rem;
$large: 2.4rem;
$medium: 1.8rem;
$small: 1.6rem;
$xsmall: 1.4rem;

// Font Weights 
$bold: 700;
$light: 400;
